.stupski-promo-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    z-index: -9999;
}
.stupski-promo-modal.stupski-modal-open {
    display: block;
    z-index: 99999;
}
.stupski-promo-modal.stupski-modal-show {
    opacity: 1;
}
.stupski-promo-modal__close {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 99999;
}
    .stupski-control-book {
        background-color: rgba(12, 32, 51, 0.9);
        color: white;
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 60px 0;   
    }
    .stupski-control-book__main {
        margin-bottom: 80px;
    }
    .stupski-control-book__button {
        background-color: #B6E97F;
        color: #1F3245;
        font-weight: 500;
        font-style: italic;
        font-size: 17px;
        line-height: 1;
        padding: 17px 24px;
        border-radius: 1000px;
        display: flex;
        align-items: center;       
        gap: 10px; 
        text-decoration: none;
        transition: transform 0.6s ease-in-out;
        font-family: 'Poppins', sans-serif;
    }
    .stupski-control-book__button:hover {
        color: #1F3245;
        text-decoration: none;
        transform: translateY(-5px);
    }
